# Admin Panel
# API URL pointing to admin-api backend
# Local: http://localhost:3002/api/v1/admin
# VPS:   https://admin.yourdomain.com/api/v1/admin

NEXT_PUBLIC_ADMIN_API_URL=http://102.129.168.20:3002/api/v1/admin
